extends layout

block content
	#container
		div
			label|Enter new Word
			input#inputWord
			label|Enter new clue
			input#inputClue
			input(type="submit", onclick="setChallWord()",value="Set New Word")
	script(src='/javascripts/wordSubmit.js')
