body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#adminDiv{
  text-align: center;
}

div input{
  border:1px solid black;
  width:30px;
  height:30px;
  display: inline-block;
  margin:3px;
  text-align: center;
}